<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="styles1.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DriveSafe</title>
    <style type="text/css">
      #map {
        height: 400px;
        width: 100%;
      }
      a{
        text-decoration: none;
        font-size: 23px;
        color: #22181C;
      }
      a:hover{
    color: #F13030;
    transition: 200ms;
}
      a:link{
        text-decoration: none;
      }
      a:visited {
        text-decoration: none;
      }

    </style>
    <script>
      // Very janky code
      const data = ['{{ data[0] | tojson }}', '{{ data[1] | tojson }}', '{{ data[2] | tojson }}', '{{ data[3] | tojson }}', '{{ data[4] | tojson }}', '{{ data[5] | tojson }}', '{{ data[6] | tojson }}', '{{ data[7] | tojson }}', '{{ data[8] | tojson }}', '{{ data[9] | tojson }}', '{{ data[10] | tojson }}', '{{ data[11] | tojson }}', '{{ data[12] | tojson }}', '{{ data[13] | tojson }}', '{{ data[14] | tojson }}', '{{ data[15] | tojson }}', '{{ data[16] | tojson }}', '{{ data[17] | tojson }}', '{{ data[18] | tojson }}', '{{ data[19] | tojson }}', '{{ data[20] | tojson }}'];
      const baddata = ['{{ badplaces[0] | tojson }}', '{{ badplaces[1] | tojson }}', '{{ badplaces[2] | tojson }}', '{{ badplaces[3] | tojson }}', '{{ badplaces[4] | tojson }}', '{{ badplaces[5] | tojson }}', '{{ badplaces[6] | tojson }}', '{{ badplaces[7] | tojson }}', '{{ badplaces[8] | tojson }}', '{{ badplaces[9] | tojson }}', '{{ badplaces[10] | tojson }}', '{{ badplaces[11] | tojson }}', '{{ badplaces[12] | tojson }}', '{{ badplaces[13] | tojson }}', '{{ badplaces[14] | tojson }}', '{{ badplaces[15] | tojson }}', '{{ badplaces[16] | tojson }}', '{{ badplaces[17] | tojson }}', '{{ badplaces[18] | tojson }}', '{{ badplaces[19] | tojson }}', '{{ badplaces[20] | tojson }}'];

      const city = ["{{ lat }}", "{{ lng }}"]

      for (let i = 0; i < data.length; i++) {
          data[i] = JSON.parse(data[i])
      }
      for (let i = 0; i < baddata.length; i++) {
          baddata[i] = JSON.parse(baddata[i])
      }

      let coordArr = []

      function initMap() {
        const toronto = { lat: parseFloat(city[0]), lng: parseFloat(city[1]) };
        console.log(toronto)
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 9,
          center: toronto,
        });
        baddata.forEach((e) => {
          let posweight = { lat: e['Latitude'], lng: e['Longitude'], weight: e['SeverityScore'] };
          coordArr.push(posweight)
        });
        data.forEach((e) => {
          let pos = { lat: e['Latitude'], lng: e['Longitude'] };
          const marker = new google.maps.Marker({
            position: pos,
            map: map,
          });
          marker.addListener("click", (mapsMouseEvent) => {
            const latlong = mapsMouseEvent.latLng.toJSON()
            window.location.href = `https://www.google.com/maps/search/?api=1&query=${latlong["lat"]},${latlong["lng"]}`;
          });
        });
        eqfeed_callback(map)
      }

      function eqfeed_callback(map) {
          const heatmapData = [];
          
          for (let i = 0; i < coordArr.length; i++) {
            const lat = coordArr[i]["lat"];
            const long = coordArr[i]["lng"];
            const latLng = new google.maps.LatLng(lat, long);
            heatmapData.push({
              location: latLng,
              weight: coordArr[i]["weight"]
            });
          }
          const heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmapData,
            dissipating: false,
            map: map,
          });
      }
    </script>
  </head>
  <body style="background-color: #F6E8EA;" >
    <div class="container mt-4">
      <h2  style="color: #22181C;" class="text-center pb-3 ">Watch out for these risky intersections in {{cty.capitalize()}}</h2>
      <p style="color: #22181C;" class="text-center pb-3 ">Go to the markers for safe places to drive, and avoid the red areas on the heatmap</p>

      <div id="map"></div>
      <!-- CHANGE API KEY -->
      <br>
      <div class="redirect text-center">
        <a href="/">Search again</a>
      </div>

    </div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBD8Mefb-n1NRcLSS7_zE_DKUjbIGdMZQ&callback=initMap&libraries=visualization&v=weekly&channel=2"
      async
    ></script>
  </body>
</html>
