<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles1.css">
    <title>Drive Safe</title>
    <style type="text/css">
      #map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script>
      const data = ['{{ data[0] | tojson }}', '{{ data[1] | tojson }}', '{{ data[2] | tojson }}', '{{ data[3] | tojson }}', '{{ data[4] | tojson }}', '{{ data[5] | tojson }}', '{{ data[6] | tojson }}', '{{ data[7] | tojson }}', '{{ data[8] | tojson }}', '{{ data[9] | tojson }}'];
      const city = ["{{ lat }}", "{{ lng }}"]
      console.log(city)
      for (let i = 0; i < data.length; i++) {
          data[i] = JSON.parse(data[i])
      }
      function initMap() {
        const toronto = { lat: parseInt(city[0]), lng: parseInt(city[1]) };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 7,
          center: toronto,
        });
        data.forEach((e) => {
          let pos = { lat: e['Latitude'], lng: e['Longitude'] };
          const marker = new google.maps.Marker({
            position: pos,
            map: map,
          });
          marker.addListener("click", (mapsMouseEvent) => {
            const latlong = mapsMouseEvent.latLng.toJSON()
            window.location.href = `https://www.google.com/maps/search/?api=1&query=${latlong["lat"]},${latlong["lng"]}`;
          });
        })
        
      }
    </script>
  </head>
  <body>
    <h1>Drive Safe</h1>
    <a href="/">Back to home</a>

    <div id="map"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArkUgQdkMZi6JuazGb53N27B2Ndmnhuaw&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>
